<launch>
	<arg name="show_windows" default="false" doc="true => show X-window panes" />
	<arg name="mid_image_topic_name" default="/kaimi_mid_camera_publisher/image_raw" doc="camera topic name" />

	<node pkg="kaimi_mid_camera" name="kaimi_mid_camera" type="kaimi_mid_camera_node" respawn="true" output="screen" >
		<param name="show_windows" value="$(arg show_windows)" type="bool" />
		<param name="mid_image_topic_name" value="$(arg mid_image_topic_name)" type="str" />"
	</node>

</launch>
