<launch>
	<arg name="show_windows" default="true" doc="true => show X-window panes" />

 	<include file="$(find freenect_launch)/launch/freenect.launch" >
 	</include>

	<node pkg="kaimi_near_camera" name="kaimi_near_camera" type="kaimi_near_camera_node" respawn="true" output="screen" >
		<param name="show_windows" value="$(arg show_windows)" />
	</node>

</launch>